

:root {
    --primary-color:#FFD200;
     --secondary-color:#033e88;
}

*{
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    user-select: none;
    background: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}
a {
    color: inherit;
}
a:hover {
    color: var(--primary-color);
}
@font-face{font-family:Title;src:url("../fonts/title.woff") format("woff");font-display:swap}

/*Shared Styles */
.section {
    padding: 120px 0;
}
.section .section-text {
    text-align: center;
    margin-bottom: 15px;
}
.section .section-text p,
.section .section-text h3 {
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    display: block;
}
.section .section-text h3 {
    color: #2B3A5E;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.35px;
    margin-bottom: 20px;
}
.section .section-text p {
    /* font-size: 18px; */
    color: #3b3b3b;
    font-weight: 300;
}


@media screen and (min-width:1200px ) {
    .cc-container {
        padding: 0 60px;
        /* max-width: initial; */
        max-width: 90%;
    }
}

@media (min-width: 992px){
.cc-container {
    max-width: 98%;
}
}


@media (min-width: 1600px){
    .cc-container {
        max-width: 1420px;
    }
}

@media screen and (max-width:600px) {
    .section .section-text p,
    .section .section-text h3 {
        max-width: 80%!important;
    }
    .section .section-text h3 {
        font-size: 28px;
    }

}
    

/* Top Header Container Styles */
.top-header {
    /* background: #fff; */
    /* padding: 12px 0; */
    /* box-shadow: 1px 1px 3px rgb(0 0 0 / 10%); */
    position: relative;
    height: 92px;
    background: url('../img/header_big.png');
    background-size: cover;
    width: 100%;
    z-index: 10;
}
/* Full Navbar Styles */ 
.full-navbar {
    padding: 0;
}
/* List Items Style */
.site-logo .logo a{
    position: absolute;
    top: 0;
    z-index: 100;
}
.site-logo .logo img {
    height: 200px;
}
.main-navbar{
    position: absolute;
    bottom: 10px;
    /* right: 0; */
}
.main-navbar .nav-item {
    margin-right: 20px;
}
.main-navbar .nav-item .nav-link{
    font-size: 18px;
    transition: .3s color;
    position: relative;
    overflow: hidden;
    color: var(--secondary-color);
    font-weight: bold;
}
.main-navbar .nav-item.active .nav-link {
    color: var(--secondary-color);
}
.main-navbar .nav-item:hover .nav-link {
    color: #fb6d8c;
    background: #e2e2e2;
    border-radius: 12px;
}

.top-header .top_items {
    /* position: absolute;
    top: 0;
    right: 0; */
    text-align: right;
}
.top-header .top_items ul {
    list-style-type: none;
}
.top-header .top_items ul li { 
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 14px;
    color: #555;
}

/* Slide Right NavBar*/

.right-nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    width: 100%;
    z-index: 200;
    transform: translateX(100%);
    overflow: hidden;
}
.right-nav.animated{
    transition: .5s all;
}
.right-nav .logo a {
    display: block;
}
.right-nav .logo img{
    height: 55px;
    max-width:75% ;
}

.right-nav.show {
    transform: translateX(0%);
}
.right-nav .nav-header {
    padding: 15px 20px;
    /* text-align: right; */
}
.right-nav .nav-menu {
    padding: 15px 20px;
    /* text-align: right; */
    
}
.right-nav .nav-menu li{
    border-bottom: 1px solid #00000021;
}
.right-nav .nav-menu li a{
    color: rgba(0, 0, 0, 0.76);
}
/* hamburger btn */ 
.right-nav .show-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}
.hamb-btn {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamb-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000a6;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.hamb-btn span:nth-child(1) {
    top: 0px;
}
.hamb-btn span:nth-child(2) {
    top: 8px;
}
.hamb-btn span:nth-child(3) {
    top: 16px;
}
.hamb-btn.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.hamb-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.hamb-btn.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* Override botstrap navabr toggler */
.navbar-toggler{
    border: none!important;
    outline: none!important;
    position: absolute;
    right: 0;
    top: -50px;
}

  
/* Full Home Slider */
.main-slider {
    /* margin-top: -11px; */
    z-index: 1;
}
.main-slider .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.main-slider .carousel-inner .carousel-item {
    height: 635px;
}
.main-slider .carousel-item {
    position: relative;
}
.main-slider .carousel-item .banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

.main-slider .carousel-item .banner-content {
    position: absolute;
    /* background: #000000c7; */
    top: 0;
    right: 0;
    color: #333!important;
    left: 0;
    bottom: 0;
}
.main-slider .carousel-item .banner-content .row {
    height: 100%;
    align-items: center;
}


.main-slider .carousel-item .slide-content {
    color: #fff;
}


.main-slider .carousel-item .slide-title h3 {
    margin: 14 0;
    font-size: 44px;
    text-align: center;
    /* max-width: 80%; */
}
.main-slider .carousel-item .slide-sub {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0;
    text-align: center;
}



.carousel-control-next, 
.carousel-control-prev {
    width: 5%;
    transition: .25s transform;
}
@media screen and (max-width:800px) {
    .carousel-control-next, 
    .carousel-control-prev {
        width: 15%!important;
    }
}

.carousel-control-next:hover, 
.carousel-control-prev:hover {
    transform: scale(1.09);
}
.carousel-control-next > span, 
.carousel-control-prev > span{
    --size:40px;
    width: var(--size);
    height:var(--size);
    background: var(--secondary-color);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.carousel-control-next span i, 
.carousel-control-prev span i{
    line-height: 40px;
    font-size: 26px;
}


/* Get In Touch Section */


.hero-section {
	/* background: url('../img/section_back.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	/* padding: 100px 0; */
    position: relative;
    background-position: center;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section .overlay {
    background-color: #2B3A5E;
    opacity: 0.89;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.slider_vega_section  .hero-text h3 {
    color: #fff;
    padding: 25px 0px;
    font-weight: bold;
    font-size: 118px;
    letter-spacing: 6.5px;
    transform: rotate(1deg);
    /* width: 100%; */
}
.slider_vega_section  .hero-text .title1{
    color: var(--secondary-color);
}
.slider_vega_section  .hero-text .title2{
    color: var(--primary-color);
}
.slider_vega_section  .hero-text h3 span {
    display: block;
}
.slider_vega_section  .hero-text p {
    color: #efefef;
    font-size: 15px;
}
@media screen and (min-width:780px) {
    .hero-section-section_inner {
        padding: 0 75px;
    }
}

.hero-section .hero-form {
    padding: 25px;
}
.hero-section .hero-form_inner {
    background: #fff;
    padding: 30px;
}


.hero-section .section-title h3{
    color: #2B3A5E;
    font-size: 28px;
    /* font-weight: 700; */
    line-height: 1.2em;
    letter-spacing: -0.35px;
    margin-bottom: 20px;
}
.hero-section .section-title p{
    color: #737F8C;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

@media screen and (max-width:800px) {
    .slider_vega_section .hero-text h3{
        font-size: 54px;
        text-align: center;
    }
}

@media screen and (max-width:350px) {
    .slider_vega_section .hero-text h3{
        font-size: 24px;
        text-align: center;
    }
}


.hero-section .section-content {
	margin-top: 30px;
}
.hero-section .section-content input::placeholder,
.hero-section .section-content textarea::placeholder{
    color: #8593a9;
}
.hero-section .section-content input,
.hero-section .section-content textarea{
    background: #ECF7F9!important;
	/* font-size: 14px; */
    width: 100%;
    border: 0;
    line-height: 1.7;
    color: #8593a9;
    border: 1px solid #eee;

    padding: 0px 9px;
    outline: none;
}
.hero-section .section-content input{
    height: 45px;
}
.hero-section .section-content textarea{
    padding: 8px;
}
.hero-section .section-content .btn.btn-primary{
	padding: 10px 0;
	background-color: var(--primary-color);
    outline: none;
}
.slider_vega_section {
    position: relative;
}

.hero-section__content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hero-section__content.active {
    /* position: relative;
    top: auto;
    left: auto;
    right: auto; */
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2.4s ease-in-out .2s,visibility .83s ease-in-out;
    -moz-transition: opacity 2.4s ease-in-out .2s,visibility .83s ease-in-out;
    -ms-transition: opacity 2.4s ease-in-out .2s,visibility .83s ease-in-out;
    -o-transition: opacity 2.4s ease-in-out .2s,visibility .83s ease-in-out;
    transition: opacity 2.4s ease-in-out .2s,visibility .83s ease-in-out;
}
.hero-video_inner .play_button_outer {
    --size:140px;
    width: var(--size);
    height: var(--size);
    display: flex;
    border: 1px solid #efefef;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.hero-video_inner .play_button_outer .outer_cercle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  scale(1);
    opacity: 0.1;
    width: var(--size);
    height: var(--size);
    display: flex;
    background: rgb(230, 230, 230);
    z-index: 0;
    border-radius: 50%;
    animation: cercleAnim 3s ease-in-out   ;
    animation-iteration-count: infinite;
    ;
}
@keyframes cercleAnim {
    0% {    
        transform: translate(-50%,-50%)  scale(0.4);  
        opacity: 1;
    }
    50% {
        transform: translate(-50%,-50%)  scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translate(-50%,-50%)  scale(1);
        opacity: 0.1;
    }
}
.hero-video_inner .play_button{
    position: relative;
    --size:90px;
    width: var(--size);
    height: var(--size);
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 22px;
    color: #3b3b3b;
    transition: .3s background-color ease-in-out;
}
.hero-video_inner .play_button:hover{
    background-color: #e0bb12;
}
.hero-video_inner .play_button i {
    line-height: var(--size);
}


/* under hero section */
.under-hero_section .u-here_item{
    position: relative;
    display: block;
}
.under-hero_section .u-here_item .bg_image {
    overflow: hidden;
}
.under-hero_section .u-here_item .bg_image img {
    transition: .5s transform cubic-bezier(.25,.46,.45,.94);
    object-fit: cover;
}
.under-hero_section .u-here_first {
    position: relative;
    z-index: 4;
}

@media (min-width: 768px) {
    .under-hero_section .u-here_first .u_text {
        position: relative;
    }
    .under-hero_section .u-here_first .u_text::before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: -15%;
        right: -10%;
        width: 65%;
        height: 105%;
        border: 10px solid #fcdb5a;
        z-index: -1;
    }
}
.under-hero_section .u-here_second .bg_image img{
    height: 100%;
    width: 100%;
}
.under-hero_section .u-here_item:hover .bg_image img {
    overflow: hidden;
    transform: scale(1.2);
}
.under-hero_section .u-here_item .u_text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    text-transform: uppercase;
    font-weight: bold;
}
.under-hero_section .u-here_second .u_text {
    z-index: 1000;
}
.under-hero_section .u_text h2 {
    font-size: 46px;
    font-weight: 600;
}
@media (min-width: 992px){
    .under-hero_section .u-here_second {
        margin-left: -45%;
    }
}
@media (min-width: 768px){
    .under-hero_section .u-here_second {
        margin-left: -35%;
    }
}
.under-hero_section .u-here_second {
    margin-bottom: 30px;
}


@media (max-width: 768px){
    .under-hero_section .u-here_item {
        margin-top: 20px;
    }
    .under-hero_section .u_text h2 {
        margin-left: 0%;
        font-size: 32px;
    }
    .under-hero_section .u-here_second {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .under-hero_section .u-here_second .bg_image img {
        height: auto;
    }
}


@media (max-width: 390px){
    /* .under-hero_section .u-here_item {
        margin-top: 20px;
    } */
    .under-hero_section .u_text h2 {
        margin-left: 0%;
        font-size: 22px;
    }
    /* .under-hero_section .u-here_second {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .under-hero_section .u-here_second .bg_image img {
        height: auto;
    } */
}


/* Text Over Video */

.text-picture_section {
    padding: 65px 0;
    margin: 40px 0;
}
.text-picture_section h2  span {
    display: block;
}
.text-picture_section .container-fluid {
   animation: moving-background 10s linear   ; 
   animation-iteration-count: infinite; 
   background-clip: text;
   -webkit-background-clip: text;
}
.text-picture_section h2{
    font-family: "Arial Black";
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
   color: transparent;
   font-size:6.5rem;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;

}



@keyframes moving-background{
    0%,100%    {
        background-position:50% 35%
    }
    50%    {
        background-position:50% 65%
    }
}

@media screen and (max-width:820px) {
    .text-picture_section h2{
        font-size: 2.2rem;
    }
}


/* Flash Deals */

.flash-deals .deal-item {padding: 20px;}

.flash-deals .deal-item_inner {
    display: block;
    position: relative;
    background: #fff;
    /* background: red; */
    box-shadow: 5px 6px 15px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .15s box-shadow ease-in-out;
    min-height: 230px;
}
.flash-deals .deal-item_inner:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 5px 6px 15px 0 rgb(0 0 0 / 20%);
}
.flash-deals .deal-item_inner > div {
    /* width: 48%; */
    display: inline-block;
}


.flash-deals .deal-item_inner .img-holder {
    width: 40%;
    margin-right: 5%;

}
.flash-deals .deal-content {
    width: 50%;
}
.flash-deals .deal-item_inner .img-holder {
    padding: 10px;
    position: relative;
}


.flash-deals .deal-item_inner .hover-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;    
    padding: 10px;
    opacity: 0;
    transition: .2s opacity ease-in-out;
}
.flash-deals .deal-item_inner .img-holder:hover .hover-img{
    opacity: 1;
}

.product-title{
    font-size: 36px;
    margin-bottom: 0;
}

.flash-deals .deal-item_inner .deal-rating i{
    font-size: 12px;
}
.flash-deals .deal-item_inner .product-price {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
}

@media screen and (max-width:800px) {
    .product-title{
        font-size: 18px;
    }
    .flash-deals .deal-item_inner .product-price {
        font-size: 18px;
    }
    
}
 

.flash-deals .deal-item_inner .product-price .new{
    color: var(--primary-color);
    /* font-weight: 700; */
}
.flash-deals .deal-item_inner .product-price .old{
    margin-left: 25px;
    color: gainsboro;
    text-decoration: line-through;
}
.product-action .add-cart {
    background: #0D7A52;
    font-size: 14px;
    width: auto;
    border-radius: 10px;
    padding: 7px 13px;
    color: #fff;
    outline: none;
    border: 0;
    transition: .2s all ease-in-out;
    margin-top: 16px;
}
.product-action .add-cart:hover {
    background: #78B144;
}
.product-action .add-cart i {
    margin-right: 5px;
}
.owl-theme .owl-dots .owl-dot span {
    height: 15px;
    width: 15px;
}
/* Background Section */
.bg-section {
    height: 680px;
    background-image: url('../img/image_section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



/* bg-section_inner */



/* footer section */


.footer-section_outer {
    background-color: #F7F6F2;
    /* padding: 50px 0; */
}
.footer-section_outer .footer-block {
    padding: 50px 0px;
    padding-left: 20px;
    border-right:1px solid rgb(0 0 0 / 9%);
}
.footer-section_outer .footer-block:last-child {
    border-right: none;
}
.footer-block .block_header {
    margin-bottom: 15px;
}
.footer-block .block_header h4 {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
}
.footer-block .block_content {
    font-size: 15px;
}
.footer-block .block_content ul {
    list-style-type: none;
    color: #666;
}
.footer-block .block_content ul a{
    transition: .2s all ease-in-out;
}
.footer-block .block_content ul a:hover {
    text-decoration: underline;
}
.footer-block .block_content ul  i {
    min-width: 18px;
    height: 18px;
    color: #b9b9b9f0;
    margin-right: 10px;
}
.news_letter {
    background-color: #0D7A52;
    color: #ddd;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 5px;
    margin-top: -35px;
    z-index: 100;
    position: relative;
}

.news_letter button {
    height: 46px;
    min-height: 46px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 20px;    outline: none;
    background: #58c06f;
    border: 0;
    margin-left: 5px;
    color: #eee;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: .2s all ease-in-out;
}
.news_letter button:hover {
    background: #78B144;
}
.news_letter input {
    height: 48px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    height: 46px;
    border-color: #e9e9e9;
    padding-left: 10px;
    outline: none;
}

.news_letter:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 15px;
    border-color: transparent transparent #78b144 transparent;
    left: -15px;
    top: 0;
}

.news_letter:after  {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 35px 0;
    border-color: transparent transparent #78b144 transparent;
    right: -15px;
    top: 0;
}


/* copyright section */
.copyright-section_outer{
    background:#EBE9E2;
    padding: 20px 0;
}

/* good section */
.good {
    position: relative;
}
.good .section-heading h2{
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}
.good .section-heading h2 span {
    font-weight: 400;
}
.good .button {
    margin-top: 25px;
}
.good .button a {
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    border-radius: 19px;
    transition: .2s all ease-in-out;
}
.good .button a:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #444;
}

/* Rouc section */
.roucette-section .rouc-item {
    padding: 20px;
    height: 350px;
    position: relative;
    display: block;
}
.roucette-section .rouc-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.roucette-section .rouc-item.rouc-big {
    height: 700px;
}
.roucette-section .rouc-item .rouc-text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.roucette-section .rouc-item .rouc-text h3 {
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 0;
}
@media screen and (max-width:760px) {
    .roucette-section .rouc-item.rouc-big {
        height: 350px;
    }
}
/* rouc-inner */












/* Particles  */

canvas {
    display: block;
    /* vertical-align: bottom;  */
}
.particles-js {
    /* position: absolute; */
    width: 100%;
    /* height: 80%; */
    /* background-color: #b61924; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.particles-js .particles-content {
    position: absolute;
    pointer-events: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.particles-content .section_heading h2 {
    text-align: center;

}
.particles-content .section_heading h2 span {
    display: block;
    font-size: 40px;
    font-family: Title;
}
.particles-content .section_heading h2 span.prim {
    font-family: arial Black;
    font-size: 35px;
}
.particles-content .section_heading h2 span.secon {
    font-size: 2em;
    font-family: Title;
    display: block;
    color: #e6002c;
    margin-top: -25px;
}

.particles-content .section_heading p {
    max-width: 650px;
    text-align: center;
    margin: auto;
    font-size: 1rem;
}

/* cp */
@media screen and (min-width: 768px){
.particles_holer_sec {
    min-width: 100em;
    width: 100vw;
    height: 60.5em;
    padding-top: 19em;
}
}
.particles_holer_sec {
    margin: auto;
    text-align: center;
    position: relative;
}


.particles_holer_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}
.particles_holer_inner .kkdBB {
    width: 97px;
    height: 37px;
    background-position: 4% 75.94339622641509%;
    background-size: 125.77319587628865% 672.972972972973%;
}

.particles_holer_inner div {
    background: url("https://www.panzani.fr/img/blocks/pastas/pastas.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .1s all;
}
/* 
.particles_holer_inner div:hover { 
    margin-top: 33px;
}  */

.particles_holer_inner .shape_0 {
    width: 97px;
    height: 37px;
    background-position: 4% 75.94339622641509%;
    background-size: 125.77319587628865% 672.972972972973%;
}

.particles_holer_inner .shape_1 {
    width: 100px;
    height: 77px;
    background-position: 4.545454545454546% 48.25581395348837%;
    background-size: 122% 323.3766233766234%;
}
.particles_holer_inner .shape_2 {
    width: 66px;
    height: 49px;
    background-position: 1.7857142857142858% 99.5%;
    background-size: 184.84848484848484% 508.16326530612247%;
}
.particles_holer_inner .shape_3 {
    width: 49px;
    height: 31px;
    background-position: 93.15068493150685% 91.28440366972477%;
    background-size: 248.9795918367347% 803.2258064516129%;
}
.particles_holer_inner .shape_4 {
    width: 120px;
    height: 43px;
    background-position: 50% .4854368932038835%;
    background-size: 101.66666666666667% 579.0697674418604%;
}
.particles_holer_inner .shape_5 {
    width: 113px;
    height: 37px;
    background-position: 11.11111111111111% 21.22641509433962%;
    background-size: 107.96460176991151% 672.972972972973%;
}
.particles_holer_inner .shape_6 {
    width: 113px;
    height: 37px;
    background-position: 11.11111111111111% 21.22641509433962%;
    background-size: 107.96460176991151% 672.972972972973%;
}




/* TS particles */
div#tsparticles-js {
    /* background: #030303; */
    /* height: 100%; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* background-color: ;
    background-image: ;
    background-repeat: ;
    background-size: ;
    background-position: ; */
}


/* New Parts */

/* Video Section */
.video-section {
	min-height: 70vh;

	background: url('../img/video-bg.jpg');
	background-size: 100% 90%;
	background-repeat: no-repeat;
	margin: 0;
	background-position-y: center;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.video-section_inner {
	/* padding: 30px 0; */
    text-align: center;
	color: #efefef;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.video-section_inner .video_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section_inner h4,
.video-section_inner p {
	text-align: center;
	max-width: 50%;
	margin: 30px 0;
	margin-right: auto;
	margin-left: auto;
}
.video-section_inner h4{
    font-size: 32px;
    font-weight: bold;
}
.video-section_inner p {
	font-size: 18px;
	max-width: 70%;
}
.video-section .play_btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    --prim:#96B416;
    color: var(--prim);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s all cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid transparent;
}
.video-section .play_btn i {
    font-size: 22px;
}
.video-section .play_btn:hover{
    text-decoration: none;
    background-color: var(--prim);
    color: #fff;
    border: 1px solid #fff;
}

.video-section .section_footer_stats {
    background-color: #F69946;
    padding: 20px 0;
    text-align: left;
}
.video-section .stat_item_inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.video-section .stat_item_inner .count {
    font-size: 2.5rem;
    margin-right: 12px;font-weight: bold;
}

.video-section .stat_item_inner .label {
    font-size: 0.8rem;
}


/* Main Slider Section  */
.main-sliderv2_outer {
    margin-bottom: 10px;
}
.main-sliderv2 {
    min-height: 85vh;
    padding: 0 20px;
    background-color: #efefef;
}

 .right_back{
    /* background-color: rgb(137,56,159); */
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    transition: .3s background-color linear;
}
.main-sliderv2 .right_back span.lead {
     /* font-size: 1.3rem; */
     font-family: cursive;
     /* font-family: 'Nunito Sans', sans-serif; */
}
.main-sliderv2 .right_back h3 {
    font-size: 72px;
    font-weight: bold;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
.main-sliderv2 .right_back a {
    padding: 12px 24px;
    border: none;
    outline: none;
}
.main-sliderv2 .right_back a:hover {
    background-color: #efefef!important;
}  
.main-sliderv2 .right_inner {
    position: relative;
    z-index: 1005;
    width: 100%;
    overflow: hidden;
}
.main-sliderv2 .anim_item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 10px;
}
.main-sliderv2 .anim_item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-sliderv2 .anim_item {
    z-index: 0;
    overflow: hidden;
}

.main-sliderv2 .anim_item-1 img{
    animation: image_move1 17s infinite linear;
    animation: image_move1 17s infinite linear;
}
.main-sliderv2 .anim_item-2 img{
    animation: image_move2 17s infinite linear;    
    animation: image_scale2 7s infinite linear;
}
.main-sliderv2 .anim_item-3 img{
    animation: image_move3 17s infinite linear;  
    animation: image_scale3 7s infinite linear;
}

@keyframes image_move1 {
    0% {
    transform: translate(0px, 0px); }
    25% {
    transform: translate(10px, 20px); }
    50% {
    transform: translate(30px, 30px); }
    75% {
    transform: translate(20px, 10px); }
    100% {
    transform: translate(0px, 0px); } 
}

@keyframes image_move2 {
    0% {
    transform: translate(0px, 0px); }
    25% {
    transform: translate(20px, -20px); }
    50% {
    transform: translate(0px, -40px); }
    75% {
    transform: translate(20px, -20px); }
    100% {
    transform: translate(0px, 0px); } 
}

@keyframes image_move3 {
    0% {
    transform: translate(0px, 0px); }
    25% {
    transform: translate(20px, 0px); }
    50% {
    transform: translate(30px, -20px); }
    75% {
    transform: translate(20px, 0px); }
    100% {
    transform: translate(0px, 0px); } 
}

@keyframes image_move4 {
    0% {
    transform: translate(0px, 0px); }
    15% {
    transform: translate(0px, 20px); }
    30% {
    transform: translate(-20px, 20px); }
    45% {
    transform: translate(-20px, 40px); }
    60% {
    transform: translate(-25px, 30px); }
    75% {
    transform: translate(-20px, 20px); }
    90% {
    transform: translate(0px, 20px); }
    100% {
    transform: translate(0px, 0px); } 
}

@keyframes image_scale1 {
    0% {
    transform: scale(0.8); }
    100% {
    transform: scale(1.1); } }
@keyframes image_scale2 {
0% {
transform: scale(0.9); }
50% {
transform: scale(1.1); }
100% {
transform: scale(0.9); } }
@keyframes image_scale3 {
0% {
transform: scale(1); }
50% {
transform: scale(0.9); }
100% {
transform: scale(1); } }  

/* slides v2 */

.main-sliderv2 .slides_holder .slider_list  {
    height: 100%;
}
.main-sliderv2 .slides_holder {
    padding: 0;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
}
.main-sliderv2 .slides_holder .slide-item {
    height: 100%;
}
.main-sliderv2 .slides_holder .slide-item img {
    height: 100%;
    object-fit: cover;
}
.main-sliderv2 .slides_holder .slide_btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    transition: .3s color ease-in-out;
    cursor: pointer;
    z-index: 1001;
}
.main-sliderv2 .slides_holder .slide_btn:hover {
    color: var(--primary-color);
}
.main-sliderv2 .slides_holder .slide_left {
    left: 3%;
}
.main-sliderv2 .slides_holder .slide_right {
    right: 3%;
}
/* fix mozzila */
.slides_holder .owl-stage-outer,
.slides_holder .owl-stage,
.slides_holder .owl-item{
    height: 100%;
}
.main-sliderv2 .anim_item.orange-logo {
    z-index: 1000;
    padding: 10px;
    overflow: unset;
    animation: image_move2 4s infinite linear;
}
.main-sliderv2 .anim_item.orange-logo img {
    object-fit: none;
    width: 100%;
    height: auto;
    transform: translate(15%, 0%);
}

/*products section*/
.product-slider .prod_text {
    color: #927658;
}
.product-slider .prod_text h3 {
    font-weight: 700;
    font-style: normal;
    line-height: 4.118rem;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    margin-top: 1em;
    /* margin-bottom: 0.86em; */
    text-align: center;
    color: #1b54ff;
}
.product-slider .prod_text .subtitle {
    text-align: center;
    color: #eab317;
    font-family: cursive;
    position: relative;
}
.product-slider .prod_text .subtitle::before,
.product-slider .prod_text .subtitle::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    max-width: 20px;
    height: 2px;
    background: #eab317;
}
.product-slider .prod_text .subtitle::before{
    margin-right: 7px;
}
.product-slider .prod_text .subtitle::after {
    margin-left: 7px;
}
.product-slider .prod_text .desc {
    margin-top: 23px;
    text-align: center;
    font-size: 16px;
}
.product-slider .prod_gallery_inner img{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.product-slider-outer {
    /*background: url('../img/prod_bg.webp');*/
    background-repeat: no-repeat;
    min-height: 99vh;
    background-size: cover;
    display: flex;
    align-items: center;
}
.product-slider .prod_text .store_btn a
{
    background:#f4e9d7;
    padding: 13px 30px;
    border-radius: 10px;
    color: #9d6a32;
    display: inline-block;
    position: relative;
    /* linear-gradient(to right, #f1de95 50%, 50%) */
    overflow: hidden;
}
.product-slider .prod_text .store_btn a span {
    position: relative;
}
.product-slider .prod_text .store_btn a::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background: #f1de95;
    z-index: 0;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: .3s transform ease-in-out;
}
.product-slider .prod_text .store_btn a:hover{
    text-decoration: none;
}
.product-slider .prod_text .store_btn a:hover::before {
    transform: translateX(0%);
}




.product-slider .prod_gallery .slide_btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 48px;
    font-weight: bold;
    color: #9d6a32;
    transition: .3s color ease-in-out;
    cursor: pointer;
    z-index: 1001;
}

.product-slider .prod_gallery .slide_btn:hover {
    color: var(--primary-color);
}
.product-slider .prod_gallery .slide_left {
    left: 3%;
}
.product-slider .prod_gallery .slide_right {
    right: 3%;
}


.bg-section {
    position: relative;
}
.bg-section_inner{
    height: 100%;
    display: flex;
    align-items: center;
}
.bg-section_inner .bg-card_inner{
    background: rgb(51,71,246,0.5);
    padding: 40px;
    color: #fff;
    min-height: 200px;
}
.bg-section_inner .bg-card_inner  .subtitle {
    color: #557d3e;
    font-family: cursive;
}
.bg-section_inner .bg-card_inner  .title {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 2.8rem;
}
@media screen and (min-width:1000px) {
    .bg-section_inner .bg-card_inner  .title{
        max-width: 70%;
    }
}
.bg-section_inner .bg-card_inner .card_btn
{
    background: #6C9357;
    padding: 12px 18px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
}
.bg-section_inner .card_btn span {
    position: relative;
}
.bg-section_inner .card_btn::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background: #F4E9D6;
    z-index: 0;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: .3s transform ease-in-out;
}
.bg-section_inner .card_btn:hover{
    text-decoration: none;
    color: #fff;
}
.bg-section_inner .card_btn:hover::before {
    transform: translateX(0%);
}


/* About Sec */
.about-section .image-column .image-box {
    position: relative;
}
.about-section .image-column .image {
    position: relative;
    display: block;
    float: right;
}
.about-section .image-column .anim-image {
    position: absolute;
    right: 50px;
    bottom: -38px;
    /* left: -160px; */
}
.about-section .image-column .caption {
    position: absolute;
    left: 25%;
    bottom: 30px;
    width: 300px;
    max-width: 100%;
    background: #ffffff;
    color: #132728;
    padding: 25px 20px 25px 115px;
    border-left: 2px solid #1b54ff;
}
.about-section .image-column .caption .icon {
    position: absolute;
    right: 30px;
    top: 24px;
    font-size: 56px;
    color: #e3e3e3;
    line-height: 1em;
}
.about-section .image-column .caption .big-txt {
    position: absolute;
    left: 30px;
    top: 25px;
    font-size: 60px;
    color: #1b54ff;
    font-weight: 800;
    line-height: 0.9em;
}
.about-section .image-column .caption .txt {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #132728;
}

/* Text Section */
.about-section .text-column .sec-title {
    margin-bottom: 40px;
}
.sec-title {
    position: relative;
    padding-left: 80px;
    min-height: 65px;
    margin-bottom: 55px;
}
.sec-title .title-icon {
    position: absolute;
    left: 20px;
    top: 32px;
}

.sec-title .subtitle {
    position: relative;
    display: block;
    line-height: 1.6em;
    font-size: 14px;
    color: #1b54ff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.30em;
    color: #132728;
    font-weight: 700;
    margin-bottom: 0px;
}
.about-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.about-section .text-column .text {
    position: relative;
    font-size: 16px;
    color: #585f5f;
    line-height: 1.6em;
    margin-bottom: 30px;
}
.about-section .text-column .bigger-text {
    font-size: 20px;
    color: #1b54ff;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 25px;
}
.about-section .text-column .quote-box {
    position: relative;
    padding-left: 134px;
    min-height: 100px;
}
.about-section .text-column .quote-box .vid-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    background: #000000;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
}
.about-section .text-column .quote-box .quote {
    position: relative;
    padding-left: 70px;
}
.about-section .text-column .quote-box .vid-link img {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    opacity: 0.70;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.about-section .text-column .quote-box .quote-icon {
    position: absolute;
    left: 10px;
    top: 3px;
}

.about-section .text-column .quote-box .quote-text {
    position: relative;
    font-size: 16px;
    color: #585f5f;
    line-height: 1.6em;
    margin-bottom: 20px;
}
.about-section .text-column .quote-box .info {
    position: relative;
}
.about-section .text-column .quote-box .info .name {
    position: relative;
    font-size: 20px;
    color: #132728;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}
.about-section .text-column .quote-box .info .designation {
    position: relative;
    font-size: 16px;
    color: #1b54ff;
    font-weight: 400;
}
.about-section .text-column .lower-box {
    position: relative;
    padding-top: 40px;
}
.about-section .text-column .lower-box .link-box {
    position: relative;
    float: left;
}
.about-section .text-column .lower-box .signature {
    position: relative;
    float: left;
    margin-left: 30px;
}
.btn-style-four {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    background: none;
    overflow: hidden;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.btn-style-four .btn-title {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #1b54ff;
    font-weight: 600;
    padding: 14px 30px;
    background: none;
    border-radius: 0px;
    border: 1px dashed #1b54ff;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.about-section .text-column .lower-box .signature {
    position: relative;
    float: left;
    margin-left: 30px;
}

.sec-title:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 3px;
    width: 40px;
    height: 65px;
    background: #1b54ff;
}
.about-section .text-column .quote-box .quote-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 30px;
    background: #e3e3e3;
    border-radius: 2px;
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.about-section .text-column .quote-box .quote-icon:after {
    content: '';
    position: absolute;
    left: 14px;
    top: 0;
    width: 4px;
    height: 30px;
    background: #e3e3e3;
    border-radius: 2px;
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.btn-style-four:hover{
    text-decoration: none;
}
.btn-style-four:hover .btn-title {
    background: #1b54ff;
    border-color: #1b54ff;
    color: #ffffff;
    text-decoration: none;
}

.about-section .text-column .quote-box .lightbox-image .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: -20px 0px 0px -20px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.about-section .text-column .quote-box .vid-link:hover img {
    opacity: 0.50;
}

@media screen and (max-width:650px) {
    .about-section .text-column .quote-box .quote {
     padding-left: 0;   
    }
    .about-section .text-column .quote-box .quote-icon::before,
    .about-section .text-column .quote-box .quote-icon::after{
        content: none;
    }
    .about-section .image-column .caption {
        left: 0;
    }
    .about-section .image-column .anim-image{
        display: none;
    }
    .sec-title{
        padding-left: 0;
    }
    .sec-title:before{
        content: none;
    }
    .sec-title .title-icon{
        display: none;
    }
    .about-section .text-column .quote-box{
        padding-left: 0;
    }
    .about-section .text-column .quote-box .vid-link{
        position: relative;
        display: block;
        margin-bottom: 15px;
    }
    .about-section .text-column .lower-box .signature{
        margin-left: 0;
        margin-top: 15px;
    }
}
/* Service We Provide */
.service-section {
    position: relative;
    padding-top: 30px;
}
.service-section .background_section{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/bg-pattern-1.jpg) center top repeat;
    opacity: 0.05;
}
.service-section_inner .services-content {
    height: 85vh;
}
.service-section_inner .services-content .row {
    height: 100%;
}
.service-section_inner .services-content .service_image {
    background-repeat: no-repeat;
    background-size: cover;

}
.service-tabs  .service_text {
    display: flex;
    align-items: center;
}
.service-tabs  .text-column .inner {
    position: relative;
    display: block;
    padding-left: 60px;
    padding-right: 15px;
    max-width: 600px;
}
.service-tabs  .text-column .s-title {
    position: relative;
    padding-left: 92px;
    min-height: 60px;
    margin-bottom: 30px;
}
.service-tabs .text-column .s-title .icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 64px;
    line-height: 1em;
    color: #1b54ff;
}
.service-tabs .text-column .s-title .subtitle {
    position: relative;
    display: block;
    font-size: 14px;
    color: #1b54ff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 7px;
}
.service-tabs .text-column .s-title h4 {
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
}
.text {
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0 0;
}
.service-tabs .text-column .text {
    position: relative;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
}
.service-tabs .text-column .more-link {
    position: relative;
    display: block;
    margin-top: 40px;
}
.service-tabs .text-column .more-link .theme-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #132728;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    transition: .25s all;
}
.service-tabs .text-column .more-link .theme-btn:hover {
    color: #1b54ff;
    text-decoration: none;
}
.service-tabs .text-column .b-box {
    position: relative;
    max-width: 380px;
    padding: 16px 20px 15px 144px;
    min-height: 88px;
    background: #ffffff;
    box-shadow: 1px 10px 15px 0px rgb(0 0 0 / 7%);
}
.service-tabs .text-column .b-box .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 124px;
    height: 88px;
    box-shadow: 3px 0px 10px 0px rgb(0 0 0 / 7%);
}
.service-tabs .text-column .bro-title {
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3px;
}
.service-tabs .text-column .bro-link {
    position: relative;
    display: block;
}
.service-tabs .text-column .b-box .image img {
    width: 100%;
    height: 88px;
}
.service-tabs .text-column .bro-link .theme-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #1b54ff;
    font-weight: 500;
    border-bottom: 1px dashed;
}

.service-tabs .card-box {
    width: 340px;
    transform: translateX(50%);
}
.service-tabs .card-box .content {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    max-width: 340px;
}
.service-tabs .service_image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}
.service-tabs .card-box .inner-box {
    position: relative;
    display: block;
    text-align: center;
    padding: 35px 50px;
    background: #1b54ff;
    color: #ffffff;
}
.service-tabs .card-box .icon-box {
    position: relative;
    display: block;
    line-height: 1em;
    font-size: 54px;
    margin-bottom: 20px;
}
.service-tabs .card-box h5 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.4em;
    margin-bottom: 15px;
}
.service-tabs .card-box .text {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 25px;
}
.btn-style-one {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-one .btn-title {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    padding: 14px 30px;
    background: none;
    border-radius: 0px;
    border: 1px dashed #ffffff;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-one.alt-hover:hover{
    text-decoration: none;
}
.btn-style-one.alt-hover:hover .btn-title {
    background: #232323;
    border-color: #232323;
    color: #ffffff;
}


/*tabs*/
.service-header .tab-buttons .nav-link.active {
    background: #132728;
    color: #ffffff;
}
.service-header .tab-buttons .nav-link  {
    position: relative;
    padding: 30px 20px;
    text-align: center;
    background: #ffffff;
    border-right: 1px dashed rgba(0,0,0,0.10);
    color: #132728;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.service-header .tab-buttons .active .hvr-seeds {
    opacity: 1;
}
.service-header .tab-buttons .nav-link .hvr-seeds {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: url("../img/hover-seeds.png") right top no-repeat;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service-header .tab-buttons .nav-link.active .hvr-seeds {
    opacity: 1;
}
.service-header .tab-buttons .nav-link .icon-box {
    position: relative;
    display: block;
    font-size: 64px;
    line-height: 1em;
}

.service-header .tab-buttons .nav-link .btn-title {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 25px;
}
.service-header .tab-buttons .active .arrow {
    border-color: #1b54ff;
    color: #1b54ff;
    -ms-transform: rotate(90deg);
    transform: rotate(
90deg
);
}
.service-header .tab-buttons .active .icon-box .icon {
    opacity: 0;
    color: #1b54ff;
}
.service-header .tab-buttons .active .icon-box .icon {
    opacity: 0;
    color: #1b54ff;
}

.service-header .tab-buttons .tabnav-link .icon-box .hvr-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}
.service-header .tab-buttons .active .icon-box .hvr-icon {
    opacity: 1;
}
.service-header .tab-buttons {
    justify-content: center;
    align-items: center;
    /* margin-bottom: -20px; */
    z-index: 1000;
    position: relative;
    top: 50px;
}

/* floating images*/
.slide_float .anim_item  {
    opacity: 0;
    transition: .2s all ease-in-out;
}

.slide_float.active .anim_item{
    opacity: 1;
}

#bg-img-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }